@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html, body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.container-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F1E9;
}

.greeting-card {
    display: none;
    height: 45%;
    width: 30%;
    border: 2px solid black;
    border-radius: 1.5rem;
}

.quiz-prompt {
    height: 45%;
    width: 30%;
    border: 2px solid black;
    border-radius: 1.5rem;
}

.quiz-prompt {
    display: none;
}

.visible {
    display: block;
}

.greeting {
    width: 100%;
    height: 25%;
    background-color: #FFD93D;
    border-radius: 1.4rem 1.4rem 0 0;
    padding-left: 12px;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
}

.greeting-name {
    width: 100%;
    height: 25%;
    background-color: #FFD93D;
    border-radius: 1.4rem 1.4rem 0 0;
    padding-left: 12px;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    animation: fadeIn 0.1s ease forwards;
    animation-delay: 0.1s;
}

.greeting-body {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.prompt-body {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 0.1s ease forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.name-prompt {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 12px;
}

.choice-prompt {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 8px;
}

.greeting-body input {
    margin: 14px;
    width: 80%;
    align-self: center;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid #333;
    padding: 1rem;
    outline: none;   
    font-weight: 600;
}

.greeting-body input:focus {
    border: 2px solid #333;
    outline: none;   
}

.yes,
.no {
    height: 3rem;
    width: 60%;
    align-self: center;
    border-radius: 0.8rem;
    border: none;
    background-color: #FFD93D;
    font-weight: 900;
    transition: all 0.3s;
    margin: 8px;
}

.no {
    background-color: #999999;
}

.yes:hover {
    background-color: #333;
    color: #fff;
}

.no:hover {
    background-color: red;
    color: #fff;
}

.submit-name {
    height: 2.3rem;
    width: 30%;
    align-self: center;
    border-radius: 0.8rem;
    border: none;
    background-color: #FFD93D;
    font-weight: 600;
    transition: all 0.3s;
}

.submit-name:hover {
    background-color: #333;
    color: #fff;
}

.quiz-card.visible {
    height: 70%;
    width: 45%;
    border: 2px solid black;
    border-radius: 2rem;
    display: block;
}

.quiz-card {
    display: none;
}

.quiz-number {
    background-color: #FFD93D;
    height: 19%;
    border-radius: 1.9rem 1.9rem 0 0;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.question {
    height: 21%;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}

.choice-box {
    margin-top: 1rem;
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.choice {
    width: 90%;
    height: 20%;
    background-color: #d3d3d3;
    border-radius: 2rem;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border: none;
}

.choice:hover {
    background-color: #a1a1a1;
}


.correct:hover {
    background-color: #9de772;
}

.incorrect:hover {
    background-color: #e78472;
}

.end-modal {
    height: 70%;
    width: 50%;
    border: 2px solid #333;
    border-radius: 3rem;
    display: none;
}

.end-modal.visible {
    display: block;
}

.endName {
    background-color: #FFD93D;
    height: 20%;
    border-radius: 2.8rem 2.8rem 0 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.score-and-congrats {
    height: 50%;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
}

.startAgain {
    margin-top: 3rem;
    height: 4rem;
    width: 60%;
    border-radius: 2rem;
    font-size: 2rem;
    border: none;
    background-color: #FFD93D;
    transition: all 0.3s;
    font-weight: 600;
}

.startAgain:hover {
    background-color:#999999;
}

@media (max-width: 1024px) {
    .greeting-card {
        height: 40%;
        width: 40%;
    }

    .quiz-prompt {
        width: 60%;
    }

    .quiz-card.visible {
        width: 80%;
    }

    .endName {
        font-size: 2rem;
    }

    .score-and-congrats {
        font-size: 1.5rem;
    }

    .end-modal.visible {
        height: 40%;
    }

    .startAgain {
        height: 3rem;
        margin-top: 12px;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .greeting-card {
        width: 90%;
        height: 45%;
    }

    .greeting {
        font-size: 1.5rem;
    }

    .submit-name {
        width: 50%;
    }

    .quiz-prompt {
        width: 90%;
        height: 60%;
    }

    .greeting-name {
        font-size: 1.5rem;
    }

    .question {
        font-size: 1rem;
    }

    .quiz-card.visible {
        width: 90%;
    }

    .end-modal.visible {
        width: 90%;
        height: 55%;
    }

    .endName {
        padding: 1rem;
        font-size: 1.5rem;
    }
}
